.btn-light-brown { background-color: #804b29; }
.btn-grey { background-color: #818181; }
.btn-blue { background-color: #012f7d; }
.btn-brown { background-color: #5b361c; }
.btn-dark-green { background-color: #21433e; }
.btn-lagune { background-color: #247f9d; }
.btn-lilac { background-color: #e3c3c6; }
.btn-neon-green { background-color: #1ee133; }
.btn-neon-yellow { background-color: #e3fd20; }
.btn-yellow { background-color: #ffd700; }
.btn-orange { background-color: #f36b00; }
.btn-purple { background-color: #4b1f94; }
.btn-neon-pink { background-color: #fe3957; }
.btn-red { background-color: #f13833; }
.btn-wine-red { background-color: #652a48; }
/* .btn-green { background-color: #4bb658; } */
.btn-dark-brown { background-color: #3f2d1f; }
.btn-black { background-color: #22251a; }
.btn-teal { background-color: #19a786; }
.btn-petrol { background-color: #116684; }
.btn-lime { background-color: #a4d839; }
.btn-deep-pink { background-color: #e73676; }
.btn-peach { background-color: #f5982e; }
.btn-white { background-color: #dfe0da; }
.btn-khaki { background-color: #575853; }
.btn-beige { background-color: #ccbba7; }
.btn-coral { background-color: #df736a; }
.btn-gold { background-color: #d3c182; }
.btn-navy { background-color: #1b2e56; }
.btn-kiwi { background-color: #b2db00; }
.btn-skyblue { background-color: #69c6d5; }
.btn-none {background-color: #ffffff;}

/* hardware color*/

.btn-rosegold { background-color: #d0795d; }
.btn-silver { background-color: #bbbbbb; }
.btn-goldie { background-color: #e6be60; }
.btn-blackie { background-color: #000000; }

/*.shift-light-brown { filter: hue-rotate(-151.19354deg) saturate(100.66197%) brightness(130.23529%); }*/
/*.shift-grey { filter: hue-rotate(-65.00003deg) saturate(10%) brightness(160.35294%); }*/
/*.shift-blue { filter: hue-rotate(52.714294deg) saturate(110.56847%) brightness(141.7451%); }*/
/*.shift-brown { filter: hue-rotate(-154.2414deg) saturate(103.09959%) brightness(136.2549%); }*/
/*.shift-dark-green { filter: hue-rotate(-8.351349deg) saturate(85.40796%) brightness(128.41177%); }*/
/*.shift-lagune { filter: hue-rotate(17.862381deg) saturate(111.85597%) brightness(141.35294%); }*/
/*.shift-lilac { filter: hue-rotate(177.375deg) saturate(103.36363%) brightness(171.7451%); }*/
/*.shift-neon-green { filter: hue-rotate(-50.53846deg) saturate(143.47058%) brightness(139.0%); }*/
/*.shift-neon-yellow { filter: hue-rotate(-109.94118deg) saturate(165.22223%) brightness(144.88235%); }*/
/*.shift-yellow { filter: hue-rotate(-136.53488deg) saturate(154.7551%) brightness(140.96078%); }*/
/*.shift-orange { filter: hue-rotate(-150.33334deg) saturate(157.75629%) brightness(142.33334%); }*/
/*.shift-purple { filter: hue-rotate(85.56412deg) saturate(132.36313%) brightness(124.09804%); }*/
/*.shift-neon-pink { filter: hue-rotate(173.86295deg) saturate(165.99498%) brightness(149.9804%); }*/
/*.shift-red { filter: hue-rotate(-175.42105deg) saturate(154.15596%) brightness(146.25491%); }*/
/*.shift-wine-red { filter: hue-rotate(-177.0deg) saturate(113.491234%) brightness(144.29413%); }*/
/*.shift-green { filter: hue-rotate(-27.841125deg) saturate(109.292496%) brightness(139.39215%); }*/
/*.shift-dark-brown { filter: hue-rotate(-154.35849deg) saturate(104.58865%) brightness(116.647064%); }*/
/*.shift-black { filter: hue-rotate(-100.63637deg) saturate(84.46032%) brightness(101.35294%); }*/
/*.shift-teal { filter: hue-rotate(-7.7142944deg) saturate(146.24529%) brightness(130.56863%); }*/
/*.shift-petrol { filter: hue-rotate(20.0deg) saturate(125.252426%) brightness(129.39215%); }*/
/*.shift-lime { filter: hue-rotate(-99.0deg) saturate(143.6129%) brightness(137.62746%); }*/
/*.shift-deep-pink { filter: hue-rotate(161.06451deg) saturate(151.54547%) brightness(145.86275%); }*/
/*.shift-peach { filter: hue-rotate(-141.79999deg) saturate(160.361%) brightness(141.7451%); }*/
/*.shift-white { filter: hue-rotate(-117.0deg) saturate(72.55556%) brightness(174.88235%); }*/
/*.shift-peach { filter: hue-rotate(-141.79999deg) saturate(150.361%) brightness(121.7451%); }*/
/*.shift-white { filter: hue-rotate(-117.0deg) saturate(62.555557%) brightness(154.88235%); }*/

/*.shift-light-brown { filter: hue-rotate(-154.19354deg) saturate(64.44906%) brightness(159.31372%); }*/
/*.shift-grey { filter: hue-rotate(-67.99999deg) saturate(14.376079%) brightness(115.19608%); }*/
/*.shift-blue { filter: hue-rotate(49.71428deg) saturate(75.87802%) brightness(152.77779%); }*/
/*.shift-brown { filter: hue-rotate(-157.24138deg) saturate(71.68754%) brightness(133.98694%); }*/
/*.shift-dark-green { filter: hue-rotate(-11.351349deg) saturate(42.016808%) brightness(97.22223%); }*/
/*.shift-lagune { filter: hue-rotate(14.862381deg) saturate(78.349625%) brightness(153.59479%); }*/
/*.shift-lilac { filter: hue-rotate(174.375deg) saturate(19.049887%) brightness(185.45752%); }*/
/*.shift-neon-green { filter: hue-rotate(-53.538467deg) saturate(117.11712%) brightness(183.82353%); }*/
/*.shift-neon-yellow { filter: hue-rotate(-112.94117deg) saturate(118.042946%) brightness(206.69934%); }*/
/*.shift-yellow { filter: hue-rotate(-139.53488deg) saturate(121.05855%) brightness(196.07843%); }*/
/*.shift-orange { filter: hue-rotate(-153.33334deg) saturate(119.62782%) brightness(199.3464%); }*/
/*.shift-purple { filter: hue-rotate(82.56409deg) saturate(106.829796%) brightness(120.91505%); }*/
/*.shift-neon-pink { filter: hue-rotate(170.86295deg) saturate(104.80953%) brightness(207.51634%); }*/
/*.shift-red { filter: hue-rotate(-178.42105deg) saturate(106.53807%) brightness(196.89542%); }*/
/*.shift-wine-red { filter: hue-rotate(-180.0deg) saturate(73.83672%) brightness(158.49672%); }*/
/*.shift-green { filter: hue-rotate(-30.841125deg) saturate(79.44757%) brightness(148.69281%); }*/
/*.shift-dark-brown { filter: hue-rotate(-157.35849deg) saturate(73.83672%) brightness(79.24836%); }*/
/*.shift-black { filter: hue-rotate(-103.63637deg) saturate(40.175312%) brightness(30.228762%); }*/
/*.shift-teal { filter: hue-rotate(-10.714294deg) saturate(119.48791%) brightness(155.22876%); }*/
/*.shift-petrol { filter: hue-rotate(16.999985deg) saturate(99.48599%) brightness(133.16994%); }*/
/*.shift-lime { filter: hue-rotate(-102.00001deg) saturate(117.24054%) brightness(178.92157%); }*/
/*.shift-deep-pink { filter: hue-rotate(158.06451deg) saturate(105.60981%) brightness(194.44446%); }*/
/*.shift-peach { filter: hue-rotate(-144.8deg) saturate(123.0988%) brightness(201.7974%); }*/
/*.shift-white { filter: hue-rotate(-120.0deg) saturate(2.445885%) brightness(180.55554%); }*/

.shift-light-brown { filter: hue-rotate(-154deg) saturate(90.66666%) brightness(100%); }
.shift-grey { filter: hue-rotate(-177deg) saturate(0%) brightness(102%); }
.shift-blue { filter: hue-rotate(41deg) saturate(132%) brightness(90%); }
.shift-brown { filter: hue-rotate(-152deg) saturate(92%) brightness(72%); }
.shift-dark-green { filter: hue-rotate(-6deg) saturate(68%) brightness(65%); }
.shift-lagune { filter: hue-rotate(18deg) saturate(102%) brightness(124%); }
.shift-lilac { filter: hue-rotate(179.375deg) saturate(17.621145%) brightness(156.17476%); }
.shift-neon-green { filter: hue-rotate(-55.538467deg) saturate(200.33333%) brightness(170.79877%); }
.shift-neon-yellow { filter: hue-rotate(-107.94117deg) saturate(180.18973%) brightness(220.06259%); }
.shift-yellow { filter: hue-rotate(-126deg) saturate(133%) brightness(200%); }
.shift-orange { filter: hue-rotate(-151deg) saturate(133%) brightness(190%); }
.shift-purple { filter: hue-rotate(87.56409deg) saturate(260.817566%) brightness(50.82319%); }
.shift-neon-pink { filter: hue-rotate(170.86295deg) saturate(220.948814%) brightness(124.7506%); }
.shift-red { filter: hue-rotate(-173.42105deg) saturate(250.547714%) brightness(80.80667%); }
.shift-wine-red { filter: hue-rotate(152deg) saturate(77.33333%) brightness(80%); }
.shift-green { filter: hue-rotate(-50deg) saturate(78.66666%) brightness(142%); }
.shift-dark-brown { filter: hue-rotate(-151deg) saturate(68%) brightness(50%); }
.shift-black { filter: hue-rotate(-98.63637deg) saturate(37.162163%) brightness(25.455797%); }
.shift-teal { filter: hue-rotate(-11deg) saturate(113.33333%) brightness(130%); }
.shift-petrol { filter: hue-rotate(19deg) saturate(116%) brightness(104%); }
.shift-lime { filter: hue-rotate(-97deg) saturate(98.66666%) brightness(170%); }
.shift-deep-pink { filter: hue-rotate(155deg) saturate(220.948814%) brightness(85.7506%); }
.shift-peach { filter: hue-rotate(-145deg) saturate(108%) brightness(192%); }
.shift-white { filter: hue-rotate(-115deg) saturate(2.2624438%) brightness(250.04678%); }
.shift-khaki { filter: hue-rotate(-105deg) saturate(8%) brightness(70%); }
.shift-beige { filter: hue-rotate(-145deg) saturate(24%) brightness(160%); }
.shift-coral { filter: hue-rotate(-172deg) saturate(69.33333%) brightness(174%); }
.shift-gold { filter: hue-rotate(-130deg) saturate(50.66666%) brightness(166%); }
.shift-navy { filter: hue-rotate(44deg) saturate(100%) brightness(68%); }
.shift-kiwi { filter: hue-rotate(-98deg) saturate(135%) brightness(176%); }
.shift-skyblue { filter: hue-rotate(19deg) saturate(49%) brightness(180%); }
.shift-none { display: none; }

/* Hardware
.shift-silver { filter: hue-rotate(11deg) saturate(167%) brightness(30%); }
.shift-blackie { filter: hue-rotate(0deg) saturate(0%) brightness(0%); }
.shift-goldie { filter: hue-rotate(11deg) saturate(102%) brightness(168%); }
*/
